
.panels-container{overflow:initial;position: relative;}

.menu-overlay-menu {
	 z-index: 400; 
	-moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-left:-104%;	
}
.menu-overlay-menu.menu_active{
  transform: matrix(1, 0, 0, 1, 0, 0); 
  transition: all 500ms;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  opacity:1;
  z-index:555;
   margin-left:0;
}
.panels-container.snapped{transition: all 0.4s ease-in-out;transform: matrix(1, 0, 0, 1, 0, 0);}
.panels-container.snapped.panels_active{transform: translate(20%, 0%) matrix(1, 0, 0, 1, 0, 0);}

.panels-container.snapped.panels_active_right{transform: translate(-50%, 0%) matrix(1, 0, 0, 1, 0, 0);}

.contactContentBox{opacity: 0; transform: translate(50%, 0%) matrix(1, 0, 0, 1, 0, 0);transition: all 0.5s ease-in-out;}	

.menu-overlay-flux.contact_active .contactContentBox{opacity:1;transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0);transition: all 0.5s ease-in-out;}

.menu-overlay-flux{
	z-index: 400;
	-moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    right:-104%;
}
.menu-overlay-flux.contact_active{transform: matrix(1, 0, 0, 1, 0, 0); 
  transition: all 500ms;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  opacity:1;
  z-index:555;right:0;top: 0;
  }

.flux-dialog-close{-moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;  transition: all 0.5s ease-in-out;}
.menu_active .flux-dialog-close{left: auto;right: -4rem;opacity: 1;}


.menu-overlay-links ul li{transition: all 0.4s ease-in-out; }
.menu-dropback{background-color: rgb(12, 223, 187);transition: all 0.5s ease-in-out;}

@keyframes slideInFromLeft {
  0% {
    transform: opacity(0);
  }
  100% {
    transform: opacity(1);
  }
}
.social-accounts-list a{transition: all 0.4s ease-in-out;opacity: 1 !important;}

.icon-share{display:block !important}
.text{clip-path: polygon(0% 10%, 0 10%, 0 0, 50% 0, 50% 15%, 100% 15%, 100% 85%, 100% 85%, 100% 100%, 50% 100%, 50% 85%, 0% 84%);}

.panel-overlay-left{background:rgba(0,0,0,0.2);}
.anchor { top: -12vh;background:rgba(0,0,0,0.4);}
.anchor>a{height:12vh !important;color:#fff;}
.anchor-border{background-color: rgb(12, 223, 187);}

.mask-element{padding-top:0;}
.hsContent{opacity:0.1}
#homepage-header-1{z-index:-1}
.menu-overlay2,.menu-overlay-flux{position:fixed;}
.social-accounts-list{opacity:0;}
.icon-viewmore{background: rgb(38, 38, 38) none repeat scroll 0% 0%;}
.pressable{display: inline-block; width: auto; height: 100%;}
.pressable:focus{width:90%;transition: all 0.4s ease-in-out;}

.navigation-right .pressable svg,.share-widget .pressable svg{ transition: all ease 0.4s;}
.navigation-right .pressable:active svg,.share-widget .pressable:active svg{transform: scale(0.8);}

.homepage-header .mask-element{width:100%;}
.header-anchors a {padding: 2vh 1.65rem;}

/*++++++++++++++++++++++++ Case study++++++++++++++++++++++++*/
.case-study .header-main svg path{color:#242424}
.Popover{position: absolute;top: -54px; right: -90px; display: flex; flex-flow: column; transform:translateY(-20px); opacity:0;
transition-property: top, left, opacity, transform; transition-duration: 500ms; transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);height: 0;
    overflow: hidden;}

.Popover.Popover-active{transform:translateY(0px);opacity:1; height: auto;}
.casestudy-summary-0 {margin-top: 0;}
.sharebox{position:relative;}
.sharebox .Popover { top: -40px; left: -81px;right:initial}
.casestudy-single-summary-desktop .sharebox .Popover { top: -65px;}
.swiper-button-next{right:25px;}
.popup {width: 0;}
.show-popup .popup {width: 100%;}

/*++++++++++++++++ About us++++++++++++++++++*/
.tab-content-text{transition: all 0.4s ease-in-out;display:none;}
.tab-mobile-content{display:none}

.flux-body .mask-element{padding:12vh 0}
.flux-body .footer-hero-container .scroolid{top:0}

.masonry-grid-item{opacity:1}
.category-filter .anchor{top:0}
@media screen and (min-width:768px){
	body{margin-bottom: 60vh;}
	.hideabove767{display:none;}
}
@media screen and (max-width:767px){
	.hide767{display:none;}
	.tab-links,.panel-text.tab-content{display:none;}
	.tab-content-text{display:block}
}