@font-face {
	font-family: 'MaisonNeue Book';
	src: url(../fonts/MaisonNeue-Book.woff) format("woff");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'MaisonNeue Bold';
	src: url(../fonts/MaisonNeue-Bold.woff) format("woff");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'MaisonNeue Light';
	src: url(../fonts/MaisonNeue-Light.woff) format("woff");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Maison Neue';
	src: url(../fonts/MaisonNeue-Light.woff) format("woff");
	font-weight: 300;
	font-style: normal
}
@font-face {
	font-family: 'Maison Neue';
	src: url(../fonts/MaisonNeue-LightItalic.woff) format("woff");
	font-weight: 300;
	font-style: italic
}
@font-face {
	font-family: 'Maison Neue';
	src: url(../fonts/MaisonNeue-Book.woff) format("woff");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Maison Neue';
	src: url(../fonts/MaisonNeue-BookItalic.woff) format("woff");
	font-weight: 400;
	font-style: italic
}
@font-face {
	font-family: 'Maison Neue';
	src: url(../fonts/MaisonNeue-Bold.woff) format("woff");
	font-weight: 500;
	font-style: normal
}
@font-face {
	font-family: 'Maison Neue';
	src: url(../fonts/MaisonNeue-BoldItalic.woff) format("woff");
	font-weight: 500;
	font-style: italic
}



/* line 1, ../sass/custom.scss */
.content {
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 1416px;
  min-width: 300px;
}

/* Dots */
/* line 11, ../sass/custom.scss */
.slick-slider {
  margin-bottom: 30px;
}

/* line 15, ../sass/custom.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  display: none !important;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: right;
}
/* line 23, ../sass/custom.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 31, ../sass/custom.scss */
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
/* line 43, ../sass/custom.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 46, ../sass/custom.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 49, ../sass/custom.scss */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 66, ../sass/custom.scss */
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/* Slider */
/* line 75, ../sass/custom.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 91, ../sass/custom.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 97, ../sass/custom.scss */
.slick-list:focus {
  outline: none;
}
/* line 100, ../sass/custom.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 107, ../sass/custom.scss */
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 116, ../sass/custom.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
/* line 121, ../sass/custom.scss */
.slick-track:before {
  display: table;
  content: '';
}
/* line 125, ../sass/custom.scss */
.slick-track:after {
  display: table;
  content: '';
  clear: both;
}

/* line 132, ../sass/custom.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 136, ../sass/custom.scss */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

/* line 143, ../sass/custom.scss */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 148, ../sass/custom.scss */
.slick-slide img {
  display: block;
}
/* line 151, ../sass/custom.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 154, ../sass/custom.scss */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 159, ../sass/custom.scss */
.slick-initialized .slick-slide {
  display: block;
}

/* line 163, ../sass/custom.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 167, ../sass/custom.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 173, ../sass/custom.scss */
.slick-slider {
  margin: 0px auto 50px;
  /*border: 1px solid #4c4c4c;*/
}

/* line 178, ../sass/custom.scss */
.slick-prev, .slick-next {
  display: none !important;
}

/* line 183, ../sass/custom.scss */
.slick-dots li button:before {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
  font-size: 8px;
  background: #fff;
  border-radius: 50%;
}
/* line 190, ../sass/custom.scss */
.slick-dots li.slick-active button:before {
  background: #b02546;
  opacity: 1;
}

/* line 196, ../sass/custom.scss */
.quote-container {
  min-height: 200px;
  color: #666666;
  font-size: 36px;
  margin: 0 20px;
  position: relative;
}
/* line 202, ../sass/custom.scss */
.quote-container:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
/* line 206, ../sass/custom.scss */
.quote-container .portrait {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 140px;
  width: 140px;
  overflow: hidden;
}
/* line 214, ../sass/custom.scss */
.quote-container .portrait img {
  display: block;
  height: auto;
  width: 100%;
}
/* line 220, ../sass/custom.scss */
.quote-container .quote {
  position: relative;
  z-index: 600;
  padding: 40px;
  margin: 0;
  font-size: 20px;
  line-height: 1.4 !important;
  font-family: Maison Neue;
  font-weight: 400;
  color: white;
}
/* line 230, ../sass/custom.scss */
.quote-container .quote p {
  position: relative;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
/* line 235, ../sass/custom.scss */
.quote-container .quote p:first-child:before {
  content: '\201C';
  color: #fff;
  font-size: 4em;
  font-weight: 700;
  opacity: 1;
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  text-shadow: none;
  z-index: -10;
  font-family:"Times New Roman";
}
/* line 247, ../sass/custom.scss */
.quote-container .quote p:first-child:after {
  content: '\201C';
  color: #fff;
  font-size: 4em;
  font-weight: 700;
  opacity: 1;
  position: absolute;
  bottom: -0.4em;
  text-shadow: none;
  z-index: -10;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  font-family:"Times New Roman";
}
/* line 262, ../sass/custom.scss */
.quote-container .quote cite {
  display: block;
  font-size: 1.8rem;margin-top: 30px;
}
/* line 265, ../sass/custom.scss */
.quote-container .quote cite strong {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #e12b56;
}

/* line 274, ../sass/custom.scss */
.dragging .quote-container {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/*++++++++++++++++++++++++ Slider end++++++++++++++++++++++++*/
/**
 * Modals ($modals)
 */
/* line 285, ../sass/custom.scss */
.modal {
  position: fixed;
  z-index: 10000;
  /* 1 */
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
  width: 70%;
  height: 100%;
  overflow:auto;
}
/* line 296, ../sass/custom.scss */
.modal.is-visible {
  visibility: visible;
}

/* line 301, ../sass/custom.scss */
.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

/* line 314, ../sass/custom.scss */
.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

/* line 320, ../sass/custom.scss */
.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 6em;
  left: 0;
  width: 100%;
  /*margin-left: -16em;*/
  right: 0;
  background-color: #b32646;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
}

/* line 332, ../sass/custom.scss */
.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

/* line 338, ../sass/custom.scss */
.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

/* line 343, ../sass/custom.scss */
.modal-header, .modal-content {
  padding: 1em;
}

/* line 347, ../sass/custom.scss */
.modal-header {
  position: relative;
}

/* line 351, ../sass/custom.scss */
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #aaa;
  background: none;
  border: 0;
  cursor: pointer;
}
/* line 360, ../sass/custom.scss */
.modal-close:hover {
  color: #777;
}
/* line 363, ../sass/custom.scss */
.modal-close:focus {
  outline: none;
  border: none;
}

/* line 369, ../sass/custom.scss */
.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 376, ../sass/custom.scss */
.modal-body {
  color: #fff;
  padding: 20px 40px 0;
}

/* line 381, ../sass/custom.scss */
.modal-content p {
  font-size: 1.4em;
}

/* line 385, ../sass/custom.scss */
.modal-close svg {
  width: 22px;
}

/* line 390, ../sass/custom.scss */
.modal-content > *:first-child {
  margin-top: 0;
}
/* line 393, ../sass/custom.scss */
.modal-content > *:last-child {
  margin-bottom: 0;
}

/*++++++++++++++++++++++++ Intro++++++++++++++++++++++++*/
/* line 400, ../sass/custom.scss */
.panel-overlay.fullwidth {
  width: 100%;
}

/* line 404, ../sass/custom.scss */
.panel-featured-image .parallax-background-container.custom-width {
  /*max-width: 594px;height: 331px;*/
  margin: auto;
  right: 0;
   max-width: 450px;height:250px;
  bottom: 0;
}

/*.custom-class .panel-featured-image-container a{max-width:594px;margin:auto;height: 331px;}*/
/* line 415, ../sass/custom.scss */
.custom-class h1 {
  font-size: 2.8rem;
}
/* line 417, ../sass/custom.scss */
.custom-class .video-panel h1 img {
  display: block;
}
/* line 421, ../sass/custom.scss */
.custom-class .panel-featured-image .background > div.parallax-background {
  transform: scale(1);
  box-shadow: 1px 9px 21px #0000005e;
  -webkit-box-shadow: 1px 9px 21px #0000005e;
  -moz-box-shadow: 1px 9px 21px #0000005e;
}

/* line 429, ../sass/custom.scss */
.panel-call-action {
  font-size: 2.7rem;
  position: absolute;
  bottom: 0;
  font-family: Maison Neue;
}
/* line 434, ../sass/custom.scss */
.panel-call-action svg {
  width: 13px;
  margin-left: 10px;
}

/* line 440, ../sass/custom.scss */
.collage-image {
  text-align: center;
  position: relative;
}
/* line 443, ../sass/custom.scss */
.collage-image div {
  display: inline;
}
/* line 446, ../sass/custom.scss */
.collage-image .collage-1 {
  margin-right: 50px;
}
/* line 449, ../sass/custom.scss */
.collage-image .collage-3 {
  margin-left: 50px;
}

/* line 454, ../sass/custom.scss */
.collage-middle {
  position: absolute;
  bottom: -42px;
  left: 0;
  right: 0;
}

/* line 461, ../sass/custom.scss */
.collage-image img {
  box-shadow: 1px 9px 21px #0000005e;
  -webkit-box-shadow: 1px 9px 21px #0000005e;
  -moz-box-shadow: 1px 9px 21px #0000005e;
  max-width: 100%;
  width: 39%;
}

/* line 470, ../sass/custom.scss */
/*.custom-class .panel-featured-image .background div.parallax-background:after, .custom-class .panel-featured-image .loaded div.parallax-background:after {
  content: '';
  background: transparent;
  display: block;
  border: 1px solid #ffffff61;
  position: absolute;
  z-index: 1;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
}*/
/* line 482, ../sass/custom.scss */
.custom-class .panel-featured-image .parallax-background-container {
  overflow: inherit;
}

/*++++++++++++++++++++++++ workshop++++++++++++++++++++++++*/
/* line 489, ../sass/custom.scss */
.workshop-panel {
  background: #282828;
}

/* line 493, ../sass/custom.scss */
.insight-event-panel {
  background: #697074;
}

/* line 497, ../sass/custom.scss */
.partner-with-flax-panel {
  background: #343434;
}

/* line 501, ../sass/custom.scss */
.logos-panel, .sliderpanel {
  background: #282828;
}

/* line 506, ../sass/custom.scss */
.partner-with-flax-panel .panel-featured-image {
  min-height: 6.225vw;
  z-index: 1;
}
/* line 507, ../sass/custom.scss */
.partner-with-flax-panel .panel-featured-image .parallax-background-container.custom-width {
  /*max-width: 634px;height: 363px;*/
  max-width: 500px;height: 300px;
  margin: auto;
  right: 0;
  
  bottom: 0;
}
/* line 517, ../sass/custom.scss 
.partner-with-flax-panel .col-8 .collage-image {
  text-align: right;padding-right: 50px;    height: 16vh;
}*/
/* line 519, ../sass/custom.scss */
.partner-with-flax-panel .col-8 .collage-image:nth-child(3) {
  text-align: left;    margin-top: -18vh;height:32vh;overflow:hidden;
}
/* line 523, ../sass/custom.scss */
.partner-with-flax-panel .absolute-center {
  z-index: 2;
}

/* line 528, ../sass/custom.scss */
a.mailer-opt-in {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px 30px 6px;
  display: inline-block;
  border: 1px solid #76142c;
  background: #cd2a52;
  position: absolute;
  bottom: 0;
  margin-left:10px;
}

/* line 539, ../sass/custom.scss */
.custom-class .client-logos {
  width: 80%;
  max-width: 1416px;
  margin: 1vh auto;
  /*border: 1px solid #4c4c4c;*/
}
/* line 545, ../sass/custom.scss */
.custom-class .logos-panel .panel-content-inner {
  margin: 0;
}
/* line 548, ../sass/custom.scss */
.custom-class .footer-hero a {
  color: #fff;
}

/* line 553, ../sass/custom.scss */
.modal-content ul {
  list-style: none;
  padding: 0;
}
/* line 556, ../sass/custom.scss */
.modal-content ul li {
  margin-bottom: 15px;
}

/* line 561, ../sass/custom.scss */
.right-details {
  float: left;
  width: 75%;
}

/* line 566, ../sass/custom.scss */
.left-details {
  float: left;
  vertical-align: top;
  min-width: 5em;
  font-size: 1.5em;
  width: 25%;
}

/* line 575, ../sass/custom.scss */
.right-details input, .right-details textarea {
  padding: 10px 3%;
  width: 94%;
  border: 2px solid #fdfdfd;
  color: #fdfdfd;
  background: 0 0;    font-size: 1.6rem;
  font-family: 'Maison Neue';
  font-weight:300;
}

/* line 585, ../sass/custom.scss */
.halfInput .namediv {
  width: 48.5%;
  float: left;
}

/* line 588, ../sass/custom.scss */
.halfInput .namediv:last-child {
  float: right;
  margin-right: 0;
}
/* line 593, ../sass/custom.scss */
.halfInput:after {
  clear: both;
  display: table;
  content: '';
}

/* line 601, ../sass/custom.scss */
.modal-content .customrow:after, .modal-content ul li:after {
  clear: both;
  display: table;
  content: '';
}
/* line 606, ../sass/custom.scss */
.modal-content .customrow {
  display: block;
}
/* line 609, ../sass/custom.scss */
.modal-content .col-4 {
  width: 40%;
  float: left;
}
/* line 613, ../sass/custom.scss */
.modal-content .col-6 {
  width: 60%;
  float: left;
}

/* line 619, ../sass/custom.scss */
.right-details input[type=submit] {
  background: #000;
  color: #fff;
  float: right;
  margin-right: -4px;
  border: none;
  max-width: 164px;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
/* line 631, ../sass/custom.scss */
.right-details input[type=submit]:focus {
  border: none;
  outline: none;
}
/* line 635, ../sass/custom.scss */
.right-details input[type=submit]:hover {
  background: #fff;
  color: #000;
}

/*+++++++++++++++++++++++++++++++++++++++*/
/* line 644, ../sass/custom.scss */
.panel-rect-angles:before, .panel-rect-angles:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 657, ../sass/custom.scss */
.panel-rect-angles a:after, .panel-rect-angles a:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 670, ../sass/custom.scss */
.panel-rect-angles a .component-responsive-image-size:after, .panel-rect-angles a .component-responsive-image-size:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 683, ../sass/custom.scss */
.panel-rect-angles a .component-responsive-image-size span:after, .panel-rect-angles a .component-responsive-image-size span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 698, ../sass/custom.scss */
.panel-rect-angles:before {
  left: -1px;
  top: -1px;
  width: 10px;
  height: 1px;
}
/* line 704, ../sass/custom.scss */
.panel-rect-angles:after {
  left: -1px;
  top: -1px;
  width: 1px;
  height: 10px;
}
/* line 711, ../sass/custom.scss */
.panel-rect-angles > a:before {
  right: -1px;
  left: auto;
  bottom: -1px;
  top: auto;
  width: 10px;
  height: 1px;
}
/* line 719, ../sass/custom.scss */
.panel-rect-angles > a:after {
  right: -1px;
  left: auto;
  bottom: -1px;
  top: auto;
  width: 1px;
  height: 10px;
}
/* line 729, ../sass/custom.scss */
.panel-rect-angles a .component-responsive-image-size:before {
  left: -1px;
  bottom: -1px;
  top: auto;
  width: 10px;
  height: 1px;
}
/* line 736, ../sass/custom.scss */
.panel-rect-angles a .component-responsive-image-size:after {
  left: -1px;
  bottom: -1px;
  top: auto;
  width: 1px;
  height: 10px;
}
/* line 744, ../sass/custom.scss */
.panel-rect-angles a .component-responsive-image-size span:before {
  right: -1px;
  left: auto;
  top: -1px;
  width: 10px;
  height: 1px;
}
/* line 751, ../sass/custom.scss */
.panel-rect-angles a .component-responsive-image-size span:after {
  right: -1px;
  left: auto;
  top: -1px;
  width: 1px;
  height: 10px;
}
/* line 760, ../sass/custom.scss */
.panel-rect-angles:hover:before {
  width: 101%;
}
/* line 764, ../sass/custom.scss */
.panel-rect-angles:not([class*="-border"]):before, .panel-rect-angles:not([class*="-border"]):after {
  left: -6px;
  top: -6px;
}
/* line 769, ../sass/custom.scss */
.panel-rect-angles:not([class*="-border"]) > a:before, .panel-rect-angles:not([class*="-border"]) > a:after {
  right: -6px;
  bottom: -6px;
}
/* line 775, ../sass/custom.scss */
.panel-rect-angles:not([class*="-border"]) a .component-responsive-image-size:before, .panel-rect-angles:not([class*="-border"]) a .component-responsive-image-size:after {
  left: -6px;
  bottom: -6px;
}
/* line 780, ../sass/custom.scss */
.panel-rect-angles:not([class*="-border"]) a .component-responsive-image-size span:before, .panel-rect-angles:not([class*="-border"]) a .component-responsive-image-size span:after {
  right: -6px;
  top: -6px;
  left: auto;
}
/* line 790, ../sass/custom.scss */
.panel-rect-angles:hover a .component-responsive-image-size span:after {
  height: 101%;
  -webkit-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important;
}
/* line 795, ../sass/custom.scss */
.panel-rect-angles:hover a .component-responsive-image-size:after {
  height: 101%;
  -webkit-transition-delay: 0.6s !important;
  transition-delay: 0.6s !important;
}
/* line 801, ../sass/custom.scss */
.panel-rect-angles:hover > a:before {
  width: 101%;
  -webkit-transition-delay: 0.4s !important;
  transition-delay: 0.4s !important;
}

/* line 809, ../sass/custom.scss */
.custom-class .panel.logos-panel {
  min-height: 60vh;
}
/* line 810, ../sass/custom.scss */
.custom-class .panel.logos-panel .mask-element {
  padding-bottom: 0 !important;
  min-height: 50vh;
}

/* line 817, ../sass/custom.scss */
.hideabove767 {
  display: none;
}

/* line 821, ../sass/custom.scss */
.hide767 {
  display: block;
}

/* line 825, ../sass/custom.scss */
.right-details textarea {
  width: 94% !important;
  height: 120px !important;
}

/* line 830, ../sass/custom.scss */
.scroolid {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
/* line 839, ../sass/custom.scss */
.scroolid svg {
  width: 14px;
  transform: rotate(90deg);
}

/* line 845, ../sass/custom.scss */
.custom-class .mask-element {
  position: relative;    overflow: hidden;min-height:76vh;
}

/* line 849, ../sass/custom.scss */
.collage-image p {
  display: inline;
}

/* line 852, ../sass/custom.scss */
.custom-class .logos-panel .mask-element {
  height: auto;
  min-height: 50vh;
  padding-bottom: 0;
}

/* line 858, ../sass/custom.scss */
/*.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}*/
.bounce a{
   /* -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: pulseglow;
  -moz-animation-name: pulseglow;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;*/
}


/*@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}*/

.forMailer .bounceright {
 /* -moz-animation: bounceright 5s infinite;
  -webkit-animation: bounce 5s infinite;
  animation: bounceright 5s infinite;*/
  transform: rotate(0deg);
}
.bounceright {
 /* -moz-animation: bounceright 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounceright 4s infinite;*/
}

@-moz-keyframes bounceright {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  60% {
    -moz-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-webkit-keyframes bounceright {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@keyframes bounceright {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  60% {
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}

/*Responsive*/
@media screen and (max-width: 1670px) {
  /* line 927, ../sass/custom.scss */
  .collage-image img {
    max-width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 933, ../sass/custom.scss */
  .panel-featured-image .parallax-background-container.custom-width, .partner-with-flax-panel .panel-featured-image .parallax-background-container.custom-width {
    max-width: 90%;
    height: 250px;
  }

  /* line 937, ../sass/custom.scss */
  .panel-call-action {
    position: relative;
  }

  /* line 940, ../sass/custom.scss */


  /* line 943, ../sass/custom.scss */
  .content {
    padding: 20px 1%;
    width: 98%;
  }

  /* line 947, ../sass/custom.scss */
  .custom-class .client-logos {
    width: 97.5%;
  }

  /* line 950, ../sass/custom.scss */
  .collage-image .collage-1 {
    margin-right: 26px;
  }

  /* line 953, ../sass/custom.scss */
  .collage-3 {
    margin-left: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 959, ../sass/custom.scss */
  .custom-class .client-logos .col-2 {
    width: 16vw;
  }
  .panel-featured-image .parallax-background-container.custom-width, .partner-with-flax-panel .panel-featured-image .parallax-background-container.custom-width{height:240px;}
}
@media screen and (min-width: 768px) {
  /* line 965, ../sass/custom.scss */
  .row.skrollable.skrollable-between {
    width: 100%;
  }

  /* line 968, ../sass/custom.scss */
  .client-logos .col-2 {
    width: 17%;
  }
}
@media screen and (max-width: 767px) {
  /* line 974, ../sass/custom.scss */
  .hideabove767 {
    display: block;
  }

  /* line 977, ../sass/custom.scss */
  .hide767 {
    display: none;
  }

  /* line 980, ../sass/custom.scss */
  .quote-container .quote {
    padding: 20px 0;
  }
  .panel-featured-image .parallax-background-container.custom-width, .partner-with-flax-panel .panel-featured-image .parallax-background-container.custom-width {
    height: auto;
  }
}
@media screen and (max-width: 998px) {
  /* line 986, ../sass/custom.scss */
  .modal {
    width: 96%;
  }
}
@media screen and (max-width: 733px) {
  /* line 992, ../sass/custom.scss */
  .left-details, .right-details {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 580px) {
  /* line 999, ../sass/custom.scss */
  .custom-class .client-logos .col-2 {
    width: 16.5%;
  }
  /* line 1001, ../sass/custom.scss */
  .custom-class .client-logos .col-2 img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 520px) {
  /* line 1010, ../sass/custom.scss */
  .modal-content .col-4, .modal-content .col-6 {
    width: 100%;
    float: none;
  }
}
@media screen and (max-width: 420px) {
  /* line 1018, ../sass/custom.scss */
  .modal-body {
    padding: 15px;
  }
}

/*.workshop-panel{margin-top: -40px;}
.partner-with-flax-panel { margin-top: -40px;}
.insight-event-panel,.logos-panel{margin-top: -40px;}*/

.page.flux-body  {
    position: relative;
    height:100%;
}

.popup {
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    opacity:0;
    visibility:hidden;
    transition:.3s ease;
}

.show-popup .popup {
    opacity:1;
    visibility: visible;
}

.popup > iframe {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-400px;
	margin-top:-250px;
}
.inner-popup{position:relative;margin:auto;}
.inner-popup .view {cursor:pointer;}
.inner-popup .view svg path{fill:#000;}


/*.flux-body .workshop-panel{margin-top: -40px;}
.flux-body .partner-with-flax-panel { margin-top: -40px;}
.flux-body .insight-event-panel,.flux-body .logos-panel{margin-top: -40px;}
.flux-body .sliderpanel { min-height: 100vh; margin-top: -40px;}*/

/*.flux-body .skrollable.skrollable-after,.flux-body .skrollable.skrollable-between { opacity: 1 !important;}*/



.customrow>div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.client-logos .customrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;width: 100%;
}
.client-logos>.customrow img {
    height: 12vh;
    width: auto;
}
.modal-content .customrow{width:100%}
.collage-image-box{position:relative;}
.collage-image-box .collage-image{position:absolute;left:0;right:0;margin:auto; }
.insight-event-panel .collage-image-box .collage-image{top: -5vh;}
.virson2 .insight-event-panel .collage-image-box .collage-image{top:-50px;}
.custom-class .video-panel .mask-element{min-height:76vh;}
.custom-class .video-panel .mask-element .collage-image img{width:auto;box-shadow:none;}
.custom-class .panel-featured-image-container{margin-top:0;}
.partner-with-flax-panel .collage-image-box .collage-image{top:-4vw;}
.partner-with-flax-panel .collage-image-box .collage-image img{width:auto;box-shadow:none;}
.custom-class .logos-panel h3{margin-top:10px;margin-bottom:5px;}


body.flux-body{/*height:auto !important;min-height:100%;*/background: #1a1b1d;}

.imgPanel { max-width: 1444px;  margin: auto;}
.imgPanel ul{padding:0;margin:0;text-align:center;list-style:none;height: 16vh;overflow: hidden;}
.imgPanel ul li{float:left;width: 18.7%;padding: 0 0.5%;}
.imgPanel ul li img{max-width:100%;}

.imgPanel ul:after {
    content: '';
    display: table;
    clear: both;
}

.custom-class .video-panel .panel-featured-image-container{margin-top:0;}

.custom-class .video-panel .panel-call-action{position:relative;margin-top:20px; font-size: 2.1rem;}
.custom-class .panel-featured-image{min-height:15.125vw;}
.scroolid.bounce a {width: 36px;display: inline-block;}

.custom-class .panel-call-action{font-size: 2rem;position: relative;}

.pulse {

  display: block;

  cursor: pointer;
  box-shadow: 0 0 0 rgba(255,255,255, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}


.icon-play a svg {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: pulseglow;
  -moz-animation-name: pulseglow;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulseglow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulseglow {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}



#top30{position:absolute;height:.1vh;top:99.9vh;width:1px;}
.client-logos p{display:none;}
.custom-class p.small {
    font-size: .75rem;
}
/*footer.footer-container{z-index:-1;}*/
.inner-popup.panel-featured-image-container {
    margin-top: auto;
}

.inner-popup.panel-featured-image-container .panel-featured-image {min-height: 28.125vw;}

.custom-class .panel-call-action a{display:inline-block;}
.custom-class .panel-call-action a:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: all 0.4s ease 0s;margin:auto;
}
.custom-class .panel-call-action a:hover:after {
    width: 0;opacity:0;
}
.customrow .sliderpanel { background: transparent;margin-bottom:0;margin: auto;margin-top:10px;width: 100%;}
.customrow .slick-slider{border-color:#fff;    margin-bottom: 20px;border:none;}


.video-panel .customrow .quote-container .quote cite strong{color:#fff;}

/*.pinkbg .slick-slider{background:#d42d52;}*/
.customrow .content{padding:0;}


.customrow .quote-container .quote{padding:1vh 0;}
.customrow .quote-container .quote cite {margin-top: 1vh;}

.customrow .slick-slider{background-color:rgba(0,0,0,0.1);}

/*.workshop-panel .slick-slider{background:#282828;}
.insight-event-panel .slick-slider{background:#697074;}
.partner-with-flax-panel .slick-slider{background:#343434;}*/

.panel-call-action.forMailer.scroolid {
    text-align: left;
}
.custom-class .video-panel .collage-image-box { top: -2vw;}

.custom-class .panel-call-action{margin-top:1vh !important;display:inline-block;padding-right:30px;}
.custom-class .panel-call-action:last-child{padding-right:0;}
.panel-call-action.forMailer a { color:#0cdfbb;}
.panel-call-action.forMailer a svg path{fill:#0cdfbb}
.panel-call-action.forMailer a:after{background:#0cdfbb;}
.sliderpanel .quote-container{min-height:50px;}
.sliderpanel .quote-container .quote{padding:0;}



.scroolid.bounce a { 
    float: left;
    height: 12vh;
    width: 50%;
    font-size: .88rem;    position: relative;
}
.scroolid.bounce.ftright a{float:right;}
.video-panel .scroolid.bounce a {background: #282828;}
.workshop-panel .scroolid.bounce a {background: #697074;}
.insight-event-panel .scroolid.bounce a {background:#343434;}
.partner-with-flax-panel .scroolid.bounce a {background: #282828;}

.icon.icon-play a {display: block;}
p.msg {
    display: block;
    clear: both;
    text-align: center;
    font-size: 1.5rem;
    top: -20px;
    position: relative;
}

.hide-getintouch{display:none;}
.custom-class .panel-call-action a {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 1;
}
.custom-class .panel-call-action.forMailer a {
	-webkit-animation: pulsate 2s ease-out;
	-webkit-animation-iteration-count: infinite; 
    opacity: 1;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.8;
		transform: scale(1);
    }
    50% { 
        opacity: 1.0;
		transform: scale(1.05);
    }
    100% { 
        opacity: 0.8;
		transform: scale(1);
    }
}

/*.partner-with-flax-panel .col-8 .collage-image img:first-child {
    margin-left: -50px;
    max-width: 300px;
    position: absolute;
    left: 0;
}*/
.flux-body .footer-hero-container .scroolid {
    position: absolute;
    left: auto;
    right: 0;
    font-size: .88rem;
}
.flux-body .footer-hero-container .scroolid svg{transform:rotate(0deg)}
.customrow .quote-container .quote blockquote { margin-bottom: 0;}
.navigation.on{z-index:10000}


.swipe_box {
            height: auto;
            width: 90%;
            overflow: hidden;
            position: relative;margin:0 auto 20px;
			display:none;
        }

        .swipeimgs {
            float: left;
            display: inline;
            padding: 0;
            margin: 0;
            width: 4000px;
            transition-property: transform;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;
            transform: translate(0, 0);
        }

        .swipeimgs img {
            padding: 0;
            margin: 0;
            width: 350px;
            height:240px;
            transform: translate(0, 0);
        }


.scrollonh{/*opacity:0;top:300px;*/position:relative;left:0;}

.positionFix{background:red;display:block;position:fixed;left:0;right:0;top:0;bottom:0;}

#sliderMovement1,#sliderMovement2,#sliderMovement3{position:relative;left:-100%;}
.sliderMovement1,.sliderMovement2,.sliderMovement3{position:relative;left:-100%;}

/*++++++++++++++ image row++++++++++*/

.collage-image .imagerow {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 15px;
}

/* Create four equal columns that sits next to each other */
.collage-image .imagerow .imagecolumn {
    -ms-flex: 31.6%; /* IE10 */
    flex: 31.6%;
    max-width: 31.6%;
    padding: 0 4px;
}

.imagecolumn img {
    margin-top: 8px;
    vertical-align: middle;width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 966px) {
    .collage-image .imagerow .imagecolumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width:31%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .collage-image .imagerow .imagecolumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}





@media screen and (min-width: 1200px) and (max-width:1670px){
	.customrow .quote-container{height:auto;min-height:12vh}
	.custom-class .panel-call-action .bounceright {width: 8px;}
	/*.custom-class .video-panel .mask-element .collage-image img { width: 450px;}*/
	.collage-image-box .collage-image{    max-width: 80%;}
	.workshop-panel .collage-middle { bottom: -15vw !important;}
}
@media screen and (min-width:1671px){
	/*.footer-hero-container { padding-bottom: 45vh !important;}*/
	.flux-body .footer-hero-container { padding-bottom: 20vh !important;}
}
@media screen and (min-width: 1024px) and (max-width:1670px){

	 /*.partner-with-flax-panel .panel-featured-image .parallax-background-container.custom-width{max-width:594px;}*/
	 .workshop-panel .collage-1 img{max-width:200px !important;top:-7vw !important;}
	 .panel-featured-image .parallax-background-container.custom-width{max-width:300px;height:190px;}
	 .insight-event-panel .collage-image-box .collage-image { top: 0vh;}
	 .partner-with-flax-panel .panel-featured-image .parallax-background-container.custom-width { max-width: 450px; height: 250px;}
	 .flux-body .footer-hero-container {/* padding-bottom: 60vh ;*/margin-bottom:60vh}
}
@media screen and (min-width:1230px){
	.customrow .sliderpanel { height: auto;}
	.customrow .quote-container .quote p{font-size: 1.5rem;}
	
	.collage-image .imagerow .imagecolumn:first-child { margin-top: -50px;}
	.collage-image .imagerow .imagecolumn:last-child{ margin-top:-25px;}
	.video-panel .collage-image .imagerow .imagecolumn:first-child { margin-top: 30px;}
	.video-panel .collage-image .imagerow .imagecolumn:nth-child(2){ margin-top:45px;}
	.video-panel .collage-image .imagerow .imagecolumn:last-child{ margin-top:60px;}
	
	.workshop-panel .collage-image .imagerow .imagecolumn:nth-child(2){ margin-top:10px;}
	.workshop-panel .collage-image .imagerow .imagecolumn:nth-child(1){ margin-top:30px;}
	.workshop-panel .collage-image .imagerow .imagecolumn:nth-child(3){ margin-top:0px;}
	
	.partner-with-flax-panel .collage-image .imagerow .imagecolumn:nth-child(2){ margin-top:40px;}
	.partner-with-flax-panel .collage-image .imagerow .imagecolumn:nth-child(1){ margin-top:60px;}
	.partner-with-flax-panel .collage-image .imagerow .imagecolumn:nth-child(3){ margin-top:20px;}
	
	.insight-event-panel .collage-image .imagerow .imagecolumn:nth-child(1){ margin-top:50px;}
}
@media screen and (min-width: 1671px){

	.customrow .quote-container{height:auto;min-height:12vh}
}
@media screen and (min-width:768px) {
	.sliderpanel { height: auto;margin-bottom:100px;    min-height: 15vh;}
	.sliderpanel .content{padding-top:0;}
	/*.custom-class .icon {margin-top: 25px;}*/
	/*.footer-hero-container { padding-bottom: 60vh;}*/
	.flux-body .footer-hero-container { /*padding-bottom: 40vh;background:#050532;*/padding-bottom: 0;margin-bottom: 0;}
	.flux-body .footer-hero-container .mask-element {  margin-top: -110px !important;}
	.sliderpanel.sliderPanelBottom {    height: 100vh;margin-bottom:30px;}
	
	.workshop-panel .collage-middle{bottom:-9vw;left:-24vw;}
.workshop-panel .collage-middle img{max-width:250px;}
.workshop-panel .collage-1 img{position:relative;top:-7vw;max-width:300px;}
.insight-event-panel .collage-middle { bottom: -18vw;  left: inherit;  right: -25vw;}
.insight-event-panel .collage-middle img{max-width:300px;}

.for_desktop{display:block;}


}
.for_mobile{display:none;}
@media screen and (min-width: 966px) and (max-width:1366px) {
	.partner-with-flax-panel .col-8 .collage-image:nth-child(3) { margin-top: -8vh;height:26vh;}
	.imgPanel{max-width: 1032px;}
	.imgPanel ul{height:14vh;}
	.custom-class .logos-panel h3,.custom-class .logos-panel h1{margin-left:-36px}
	.custom-class .panel-featured-image{min-height: 20.125vw;}
}
@media screen and (min-width: 620px) and (max-width:767px) {
	
	.swipeimgs img{height:300px;}
}
@media screen and (min-width: 1025px){
	.custom-class p { font-size: 1.2rem;}

}
@media screen and (min-width: 768px){
.customrow {
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.custom-class .video-panel .panel-text{margin-top:0rem;}

}
@media screen and (max-width: 767px){
	.for_desktop{display:none;}
	.for_mobile{display:block;}
	.sliderpanel{margin-bottom:50px;}
	.video-panel .panel-content-inner>.customrow {width: 100%;max-width: 100%;}
	.customrow .col-5 { padding: 10px 15px;}
	.footer-hero .panel-content>.customrow { max-width: 320px; width: 80%;  margin: 0 auto;  position: relative;}

/*.flux-body .text-panel .panel-content.panel-content-left>div>.panel-content-inner>.row{max-width:100%;width:100%;}

.flux-body  .panel-content-inner>.row  .panel-content-inner>.row{max-width:320px;width:80%;}*/
.vimeo-overlay .panel-featured-image-container .view{left: -30px; bottom: -40px;}
.panel-featured-image-container{position:relative;}
/*.flux-body .panel.text-panel .mask-element{clip-path: none !important;}*/
.flux-body .panel-content-inner{padding-top:0}
.quote-container{margin:auto;}
.quote-container .quote p{font-size:1.2rem;}
.quote-container .quote cite{font-size:1.5rem}
.custom-class .logos-panel h1,.custom-class .logos-panel h3  { padding-left: 15px;}

.custom-class .logos-panel .mask-element{min-height:auto !important;}
.video-panel .panel-overlay{top:0;}
.flux-body .sliderpanel { min-height: auto;}
body.flux-body  { background: #282828;}

/*.insight-event-panel .collage-image-box .collage-image { top: -7vh;}*/
.custom-class .panel-featured-image-container {  margin-top: 20px;}
.video-panel .panel-content-inner .panel-text{padding-bottom:0;}


#sliderMovement1,#sliderMovement3,#sliderMovement2{position:relative;left:0 !important;}
   
	
	.panel-call-action svg  {width: 9px;position: relative; top: 1px;}
	.custom-class .panel-call-action a{font-size:21px;}
	
	.flux-body .footer-hero-container .panel-call-action{font-size: 1.2rem !important;}
}

@media screen and (max-width:736px){
	 .flux-body .panel-content-inner>.row { width: 100%;max-width:736px;margin:auto;}
	 .flux-body .video-panel .panel-heading{margin-left:0;margin-right:0;}
	 .collage-image-box .collage-image{position:inherit;}
}
@media screen and (max-width:667px){
	 .flux-body .panel-content-inner>.row { width: 100%;max-width:667px;margin:auto;}
}
@media screen and (max-width:640px){
	 .flux-body .panel-content-inner>.row { width: 100%;max-width:640px;margin:auto;}
}
@media screen and (max-width:568px){
	 .flux-body .panel-content-inner>.row { width: 100%;max-width:568px;margin:auto;}
	 .flux-body .video-panel .panel-text{max-width:100%;}

	a.mailer-opt-in {display: block; text-align: center; margin-top: 10px;}
	.imgPanel ul{height:auto;margin-top: 10px;}
	
	
}

@media screen and (max-width:414px){
  .flux-body .panel-content-inner>.row { width: 100%;max-width:414px;margin:auto;}
  .swipeimgs img{width: 404px;height:240px;}
}
@media screen and (max-width:412px){
  .flux-body .panel-content-inner>.row { width: 100%;max-width:412px;margin:auto;}
}
@media screen and (max-width:411px){
  .flux-body .panel-content-inner>.row { width: 100%;max-width:411px;margin:auto;}
}
@media screen and (max-width:375px){
  .flux-body .panel-content-inner>.row { width: 100%;max-width:375px;margin:auto;}
  .swipeimgs img{width: 372px;height:240px;}
}
@media screen and (max-width:360px){
  .flux-body .panel-content-inner>.row { width: 100%;max-width:360px;margin:auto;}
  .swipeimgs img{width: 350px;height:240px;}
}
@media screen and (max-width:359px){
 .collage-image .collage-1 { margin-right: 10px;}
 .collage-image .collage-3 { margin-left: 10px;}

 a.mailer-opt-in {font-size: 1.9em;}
 .swipe_box{width:90%;}
 .swipeimgs img{height:200px;width:315px;}
}
@media screen and (max-width:320px){
  .flux-body .panel-content-inner>.row { width: 100%;max-width:320px;margin:auto;}
}


.panel-call-action svg  {position: relative;   top: 1px;}
/*  for new page  */

@media screen and (min-width:1671px){	
   .workshop-panel .pageOne .collage-1 img{top:-2vw !important;}
}
@media screen and (min-width:1671px) and (max-width:1700px){
.custom-class .workshop-panel .pageOne .panel-featured-image-container{margin-left:37%;}

}	
@media screen and (min-width:1280px) and (max-width:1670px){
.pageOne .panel-featured-image  .parallax-background-container.custom-width{max-width:350px;}

.workshop-panel .pageOne .collage-1 img{top:-3vw !important;}
.custom-class .insight-event-panel .pageOne .panel-featured-image-container{margin-top:13vw;}
.partner-with-flax-panel .pageOne .panel-featured-image .parallax-background-container.custom-width{max-width:400px !important;}

.custom-class .partner-with-flax-panel .pageOne .panel-featured-image-container {margin-top: 8vw !important;}

.custom-class .pageOne .panel-featured-image { min-height: 14.125vw;}

.custom-class .video-panel .col-8.pageOne { overflow: hidden;}
.custom-class .video-panel .col-8.pageOne .collage-image-box .collage-image{    max-width: 78%;margin-top:20px;}

.virson2.custom-class .insight-event-panel .pageOne .panel-featured-image-container{margin-top:9vw;margin-right:170px;}

}
@media screen and (min-width:1440px) and (max-width:1670px){
	.custom-class .insight-event-panel .pageOne .panel-featured-image-container { margin-top: 15vw;}
	
	
}
@media screen and (min-width:1671px){	
.custom-class .video-panel .pageOne .panel-featured-image-container { margin-top: 260px !important;margin-right:300px !important;}
.custom-class .pageOne .panel-featured-image { min-height: 10.125vw;}
.custom-class .video-panel .pageOne .collage-image-box{top:0}

.partner-with-flax-panel .pageOne .collage-image-box .collage-image{top:0vw}
.custom-class .insight-event-panel .pageOne .panel-featured-image-container{margin-top:6vw;margin-right: 302px;}

.virson2.custom-class .insight-event-panel .pageOne .panel-featured-image-container{margin-top:10vw;margin-right:270px;}


}
@media screen and (min-width:1280px){
	.custom-class .video-panel .pageOne .panel-featured-image-container { margin-top: 146px;    margin-right: 170px;}
	
	.custom-class .workshop-panel .pageOne  .panel-featured-image-container {margin-top:6vw;  margin-left: 34%;}
	
	
	
	.custom-class .partner-with-flax-panel .pageOne .panel-featured-image-container{margin-top:12vw;margin-left:30%;}
	
	.partner-with-flax-panel .pageOne .panel-featured-image .parallax-background-container.custom-width{height:230px;max-width: 450px;}
	
	
}


.workshop-panel .pageOne .collage-1 img,.insight-event-panel .pageOne .collage-1 img { max-width: 100% !important; width: 100%;box-shadow: none;}
.pageOne .collage-image-box .collage-image{right:50px;left:50px;}



/*++++++++++++++++++++++++++ 2-5-18++++++++*/
.custom-class .pageOne .panel-featured-image{z-index:3;}
.custom-class .pageOne .absolute-center{z-index:4;}
.customrow .sliderpanel{z-index:5;}

.versionCollage .collage-image div { display: inline-block;}
.versionCollage .collage-image .collage-1{margin-right:0;position:relative;z-index:1;left: -4px; top:-5px; width:49%;}
.versionCollage .collage-middle{bottom:0;position:relative;z-index:0;left: -70px; }
.video-panel .versionCollage .collage-middle{bottom:0;position:relative;z-index:0;left: -70px; top:-140px;}
.video-panel .versionCollage .collage-image .collage-3{width:309px;float:right;margin-right: 106px;top: -120px; margin-top: -50px; z-index: 1; position: relative;text-align: left;margin-left:0;}

.video-panel .versionCollage .collage-image .collage-3 .collage-3-a{position:relative;left:0;}
.video-panel .versionCollage .collage-image .collage-3 .collage-3-b{position:relative;top:-42px;}


.workshop-panel .versionCollage .collage-image .collage-1{width:59%;left:0;top:0;}
.workshop-panel .versionCollage .collage-image .collage-middle{ width: 40%;left:-20px;}
.workshop-panel .versionCollage .collage-middle img{width:auto;max-width:100%;}
.workshop-panel .versionCollage .collage-image .collage-3{float: left;margin-top:-40px;    margin-left: 0;width:50%;}
.workshop-panel .versionCollage .collage-image .collage-3 .collage-3-b{top:-40px;position:relative;}
.workshop-panel .versionCollage .collage-image img{width:auto;max-width:100%;}
.workshop-panel .versionCollage .collage-image .collage-3 .collage-3-a{left:80px;z-index:1;position: relative;    top: -25px;}

.workshop-panel .pageOne.versionCollage .collage-image-box .collage-image{right:100px;}


.insight-event-panel .versionCollage .collage-image .collage-1{width:37%;left:0;top:-66px;}
.insight-event-panel .versionCollage .collage-image .collage-middle{ width:62%;left:30px;}
.insight-event-panel .versionCollage .collage-middle img{width:auto;max-width:100%;}
.insight-event-panel .versionCollage .collage-image .collage-3{float: right;margin-top:-40px;    margin-left: 0;width:50%;top: -50px;
    position: relative;}
.insight-event-panel .versionCollage .collage-image .collage-3 .collage-3-b{top:-40px;position:relative;left: 22px;}
.insight-event-panel .versionCollage .collage-image img{width:auto;max-width:100%;}
.insight-event-panel .versionCollage .collage-image .collage-3 .collage-3-a{left:80px;z-index:1;position: relative;    top: -25px;}

.insight-event-panel .pageOne.versionCollage .collage-image-box .collage-image{right:100px;}




.partner-with-flax-panel .versionCollage .collage-image .collage-1{width:59%;left:-50px;top:-14px;}
.partner-with-flax-panel .versionCollage .collage-image .collage-middle{ width: 40%;left:0;top:-160px;}
.partner-with-flax-panel .versionCollage .collage-middle img{width:auto;max-width:100%;}
.partner-with-flax-panel .versionCollage .collage-image .collage-3{float: left;margin-top:-40px;    margin-left: 0;width:50%;top:-160px;position:relative;}
.partner-with-flax-panel .versionCollage .collage-image .collage-3 .collage-3-b{top:-40px;position:relative;z-index:2}
.partner-with-flax-panel .versionCollage .collage-image img{width:auto;max-width:100%;}
.partner-with-flax-panel .versionCollage .collage-image .collage-3 .collage-3-a{left:0;z-index:1;position: relative;    top: -19px;text-align:left;}

.partner-with-flax-panel .pageOne.versionCollage .collage-image-box .collage-image{right:100px;}


@media screen and (min-width:1024px) and (max-width:1670px){
	.versionCollage .collage-image-box .collage-image{width:100%;}
	.versionCollage .collage-image .collage-1{width: 46%;}
	.versionCollage .collage-middle{width: 53%;top:-50px;}
	.versionCollage .collage-image .collage-3{max-width:38%;top:-40px;}
	.versionCollage .collage-image .collage-3 .collage-3-a{width:100%;}
	.versionCollage .collage-image .collage-3 .collage-3-b{left: -20px;}
	
	.insight-event-panel .versionCollage .collage-image .collage-middle{top:30px;}
	.insight-event-panel .versionCollage .collage-image .collage-1{top:15px; left: 52px; top: 0;}
	.insight-event-panel .versionCollage .collage-image .collage-3{top:30px;}
	.video-panel .versionCollage .collage-middle{top:-52px;}
	.video-panel .versionCollage .collage-image .collage-3{top:-80px;margin-right:-23px;}
	
	
}
@media screen and (min-width:1024px) and (max-width:1670px){
	.versionCollage .collage-image .collage-3{margin-right:-10px;}
	.workshop-panel .versionCollage .collage-image .collage-3 .collage-3-a { left: 60px;}
	.insight-event-panel .versionCollage .collage-image .collage-3 .collage-3-a { left: 3px;}
	.partner-with-flax-panel .versionCollage .collage-image .collage-3 .collage-3-a { left: 60px;}
	.partner-with-flax-panel .versionCollage .collage-image .collage-middle{top:0;}
	.partner-with-flax-panel .versionCollage .collage-image .collage-3{top:0;}
	
	
}

.fancybox-nav span {
 visibility: visible;
}

/*++++++++++++++++++++++ v3++++++++++++++*/

.insight-event-panel .customrow .slick-slider {
    background-color: rgba(0,0,0,0.2);
}
.logos-panel .owl-dots,.logos-panel .owl-nav{display:none;}
.logos-panel .owl-carousel { margin-top: 24px;}

@media screen and (min-width:1671px){
	.leftc{min-height:21.8vh}	
	.insight-event-panel .versionCollage .collage-image .collage-3 .collage-3-a{left:-4px;}
}
@media screen and (min-width:1025px) and (max-width:1670px){
	.leftc{min-height:22.7vh}	
	.custom-class .hsContainer p { line-height: 1.4rem;}
}
@media screen and (min-width:1025px){
.flux-body .modal-content h1{font-size:2.8rem;margin-bottom: 20px;}

.custom-class .insight-event-panel .hsContainer p { line-height: 1.4rem;}

.customrow:first-child{min-height:56vh;}

.logos-panel .customrow:first-child{min-height:auto;}

}
@media screen and (min-width:1024px){
	.minheight{min-height:26vh;    margin-bottom: 20px;}
}
@media screen and (min-width:1401px) and (max-width:1580px){
	
}
@media screen and (min-width:1024px) and (max-width:1400px){
	.minheight{margin-bottom:14px;}
}
@media screen and (min-width:768px){
	.modal-content .col-4 p {max-width: 90%;width: 100%; margin: inherit;font-size: 1.2rem;}
}
@media screen and (max-width:1024px){
	.hsContent.skrollable { opacity: 1 !important; transform: none !important;}
	.collage-image-box{ display: none !important;}
}
.display1024{display:none;}
footer .end{display:none;}
.flux-body footer .end{display:block;}
/*footer.end{color:#fff;    position: relative;  z-index: 999;}*/
.flux-body footer .end{color:#fff;    position: fixed;  z-index:9;bottom:0;}
.flux-body footer .end p{font-size:0.8rem}
.flux-body footer .end p a{color:#13dfac;}
.flux-body footer .end p input{width:auto;position: relative;}
.flux-body input.mailCheck{width:12px;position: relative; top: 3px;cursor:pointer; height: 12px;}

.checkBoxContainer {
       display: inline-block;
    position: relative;
    margin-left: 6px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    left: 2px;
    height: 12px;
    width: 12px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkmark {
    background-color: #d02b54;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
    left: 4px;
    top: 1px;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width:1024px){
	.collage-image.insight-gallery { display: none;}
	body.flux-body {/*height: auto !important;*/    overflow: auto !important;}
	
	body.flux-body, html{overflow:initial !important ;}
	
	.flux-body .mc-banner {top:25%;}
	.flux-body .mc-modal {top:10%;}
	.display1024{display:block;}
	footer.end{display:none;}
	.flux-body footer.footer-container{z-index:0;}
	.flux-body footer.end p{font-size:0.7rem}
	.checkmark{top:5px;}
}

.partner-with-flax-panel,.insight-event-panel,.workshop-panel,.video-panel.scrollSection,.logoPanel{z-index:99;    position: relative;}

.passive-class .workshop-panel, .passive-class .insight-event-panel, .passive-class .partner-with-flax-panel,.passive-class .logoPanel,
.passive-class .logoPanel .sliderpanel{
    margin-top: -28px;
}
.flux-body .panel-content.panel-content-left .skrollable:not(.hsContent) {
    opacity: 1 !important;transform: initial !important;
}

.flux-body .panels-container > div:first-of-type .logoPanel  .mask-element {
    min-height: inherit;
}
.panels-container > div:last-of-type {
    padding-bottom: 0;
}

.flux-body .page-builder, .flux-body .panels-container{height:100%;position:relative;    min-height: auto;}
.flux-body .panels-container{overflow:inherit;}
#optin{display:none;}


.displaynone{display:none !important}
.flux-body .subscribe-form,.flux-body .other-page {display:none !important} 
.flux-body .displaynone{display:block !important}

.main-text-page .custom-class.page.virson3{display:none;}
.display1024{display:none;}
.footer-hero-container .panel-call-action{display:none;}

@media screen and (min-width:768px){
.flux-body .footer-hero-container {margin-top: -35vh;position: sticky;z-index:99;}

.flux-body .list {margin-bottom: 40vh;	}

}
@media screen and (min-width:768px) and max-width (1024px){
.flux-body .footer-hero-container {
    margin-top: -27vh;
}
}
@media screen and (max-width:1024px){
	.flux-body footer .end{display:none;}
	.flux-body .display1024{display:block;}
}
.scroolid.bounce p {
   display: none;
}
.flux-body .footer-hero-container a{cursor:pointer}

.flux-body .footer-hero .panel-background-main:before {
    background: #282828;
    height: 12vh;
    width: 50%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.flux-body .footer-hero-container:before {
    background: #282828;
    content: '';
    width: 51%;
    height: 14vh;
    display: block;position: absolute;
    top: 0;
}
.flux-body .footer-hero h3{font-weight:normal}
.flux-body p.p1 { font-size:0.75rem;}
/*.flux-body .navigation-right .header-navigtaion-right{display:none !important}*/
.flux-body .menu-overlay-flux{top:0}

.flux-body .footer-hero-container .panel-call-action{font-size:2.5rem;display:block;}
.flux-body .footer-hero-container h1{font-size: 2.8rem;}
.flux-body .panel-call-action svg{ width: 1.4em; height: .6em;margin-left: 0;}

@-moz-document url-prefix() {
  .homepage-header .mask-element {
		clip-path: initial !important;
	}
}

.page-builder, .panels-container{width:100vw;}

@media screen and (min-width:1025px) and (max-width:1440px){
	.flux-body .modal-content h1 {font-size: 3rem !important;}
	.flux-body .footer-hero-container h2{font-size:3rem;}
}
@media screen and (min-width:1025px){
	.flux-body .footer-hero-container h1{font-size: 2.8rem;    min-height: 18vh;}
}
